@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url("normalize.css");
/*
font-family: 'Raleway',sans-serif;
blue : #0065FC
lighter-blue: #DEEBFF
grey : #F2F2F2
 */

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  /* margin: 15px; */
  border: 2px solid black;
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  border: 2px red dashed;
  margin: 0 30px;
}
#logo {
  width: 55px;
  height: 30px;
  margin: auto 0;
  border: 2px solid green;
}

nav {
  border: 2px solid green;
}
.nav-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 2px chocolate solid;
}

/* .nav-item-blue {
  margin-right: 10px;
  border: red solid;
  height: 20px;
} */
.nav-item {

  color: black;
  border: red dotted;
}
.nav-item:hover {
  border-top: 3px solid #0065FC;
  padding: 0;
}

a:first-child {
  color: #0065FC;
}

/* Searching section */
.searching {
  margin: 0 30px;
  border: 2px dotted blue;
}

.filters {
  display: flex;
}

.filters li {
  display: inline;

}

.filter-item {
  border: 1px solid black;
  border-radius: 30%;
}
.fas {
  width: 30px;
  height: 30px;
  color: #0065FC;
  background-color: #DEEBFF;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
/* Accomodation section */
.accomodation {
  display: flex;
  margin: 0 30px;
  border: 2px dotted blue;
}
/* Activities section */
.activities {
  margin: 0 30px;
  border: 2px dotted blue;
}
/* Footer */

/* //////////////////////////////////////////////// */
/* Media queries */
@media (max-width : 540px) {
  body {
    margin: 0;
  }
  .header {
    display: flex;
    flex-direction: column;
  }
  #logo {
    align-self: center;
  }
  .nav-list {
    align-items: center;
    /* padding-right: 30px; */
    padding: 10px;
    border-bottom: 3px solid #F2F2F2;
  }
  .nav-item:hover {
    border-bottom: 3px solid #0065FC;
    border-top: none;
  }
}
