@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;600&display=swap');
@import url("normalize.css");
/*
colors:
blue : #0065FC
lighter-blue: #DEEBFF
grey : #F2F2F2
 */

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Raleway', sans-serif;
  border: 2px solid black;
}

h1, h2 {
  font-size: 1.1rem;
}

p {
  font-size: 10px;
}

h3 {
  font-size: 0.9rem;
}

a {
  color: black;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 90%;
}

#logo {
  height: 30px;
  /* border: 2px solid green; */
}

.nav-list {
  display: flex;
  margin-top: 0;
}

.nav-item {
  /* position: relative; */
  margin: 0 25px 0 20px;
  padding: 16px 28px 0 28px;
  font-size: 80%;
  color: black;
  border-top: 2px solid white;
  /* border: blue dotted; */
}

.nav-item:hover {
  color: #0065FC;
  border-top: 2px solid #0065FC;
}

/*  //// Searching section  ////  */
.searching {
  width: 90%;
  margin: 0 auto;
  border: 2px dotted blue;
}

 /* //// search form ////  */
 .search-bar {
   display: flex;
   align-items: center;
   /* position: relative; */
   width: auto;
 }

.search-icon {
  justify-content: center;
  align-items: center;
  height: 38px;
  width: 33px;
  font-size: 1em;
  background-color: #F2F2F2;
  border-radius: 12px 0px 0px 12px;
 }

.search {
  display: flex;
  position: relative;
  padding: 0.3em 0.5em;
  font-size: 0.9em;
  font-weight: 900;
  border: 2px solid #F2F2F2;
  padding: 0.5em 0.7em;
}

.btn-search {
  /* position: absolute;
  top: 118px;
  left: 230px; */
  padding: 0.5em 0.7em;
  background-color: #0065FC;
  color: #FFF;
  font-size: 0.9em;
  font-weight: 900;
  border-radius: 0px 10px 10px 0px;
  border-color: #0065FC;
  border: 2px solid #0065FC;
}
.btn-search:hover {
  background-color: #0357d4;
  transition-duration: 0.3s;
}

 /* //// Filters //// */
.filters-bar {
  display: flex;
  align-items: center;
  border: 2px chocolate solid;
  width: 70%;
  /* height: 50px; */
  /* padding: 0 1.2em; */
}

.filters-bar p {
  font-size: 0.9rem;
  font-weight: 900;
}

.filters-bar-list {
  display: flex;
  align-items: center;
  border: 1px rgb(50, 22, 3) solid;
  overflow: visible;
  /* justify-content: space-between; */
}
.filter-bar-list-item {
  /* position: relative; */

  display: flex;
  align-items: center;
  border: 2px solid #e6e6e6;
  border-radius: 30px 30px;
  padding: 5px 12px 5px 0px;
  margin-right: 25px;
  background-color: #FFF;
}

.filter-icon {
  height: 1.9em;
  width: 1.9em;
  padding-right: 30px;
  color: #0065FC;
  border-radius: 100%;
  background-color: #DEEBFF;
  /* border: 2px green dotted; */
}

.information {
  display: flex;
  align-items: center;
  text-align: center;
}
.i-icon {
  border: 1px solid black;
  border-radius: 50px;
  margin-right: 20px;
  text-align: center;
  /* height: 15px;
  width: 16px; */
  font-size: 0.7rem;
  padding: 0.3em 0.5em;
}
.information p {
  font-size: 0.7rem;
}

/* Accomodation section */
/* //////////////////////////////////////////////// */
.accomodations {
  display: flex;
  width: 90%;
  margin: 10px auto;
  border: 2px dotted blue;
}
.marseille-accomodations {
  width: 60%;
  padding: 2%;
  background-color: #F2F2F2;
  border: 2px dotted yellow;
}
/* .marseille-accomodations h2 {
  margin-top: 0;
} */
.all-accomodations-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  /* margin: 2%; */
}
.accomodation-card {
  width: 200px;
  height: 150px;
  background-color: #FFF;
  padding: 4px 4px 0;
  border-radius: 10px;
  /* margin: 7px; */
}
.accomodation-card-image {
  height: 70px;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;

}
.accomodation-card-image img {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.accomodation-card-content{
  line-height: 4.2px;
}
.accomodation-stars {
 color: #0065FC;
}

/* popular section */
.most-popular {
  /* width: 60%; */
  padding: 1%;
  background-color: #F2F2F2;
  border: 2px solid green;
}

.all-popular-cards{
  /* padding: 5%; */
}

.popular-card {
  display: flex;
  width: 300px;
  height: 100px;
  padding: 4px 0px 4px 4px;
  border: 2px solid red;
  /* overflow: hidden; */
  background-color: #FFF;
  border-radius: 10px;
  /* margin: 7px; */
}
.popular-card img {
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-right: 3%;
  /* position: relative; */
  /* border-top-left-radius: 10px;
  border-top-right-radius: 10px; */
  /* overflow:s hidden; */
}

.popular-card-content {
  margin-top: 0 0 1% 1%;
}

..popular-card-content h3{
  margin-bottom: 0;
}
.popular-stars {
  color: #0065FC;

}
/* Activities section */
.activities {
  width: 90%;
  margin: 0 auto;
  border: 2px dotted blue;
}
/* Footer */

/* //////////////////////////////////////////////// */
/* Media queries */
/* //////////////////////////////////////////////// */

/* mobile */
@media (max-width : 540px) {

  body {
    margin: 0;
    padding: 0;
  }

  .header {
    display: flex;
    flex-direction: column;
  }

  #logo {
    align-self: center;
  }
  .nav-list {
    align-items: center;
    justify-content: space-between;
    padding-left: 0px;
    /* padding: 10px; */
  }

  .nav-item {
    margin: 20px 25px 0px 0px;
    padding: 10px 50px 10px 45px;
    border-bottom: 2px solid #F2F2F2;
  }
  .nav-item:hover {
    /* width: 140%;
    height: 2px; */
    /* background-color: #0065FC; */
    /* padding-bottom: 10px; */
    margin: 20px 25px 0px 0px;
    padding: 10px 50px 10px 45px;
    border-top: none;
    border-bottom: 2px solid #0065FC;
  }
    /* filters */
    .filters-bar {

      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }

    .filters-bar-list {
      flex-wrap: wrap;
      align-items: flex-start;
      padding: 0%;
      margin-top: 0;
      width: 100%;
    }

    .filter-bar-list-item {
      justify-content: space-between;
      width: auto;
      margin: 0 5px 5px 0;
    }
}
